.mat-table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.mat-cell div {
    display: flex;
    flex-direction: column;
}

.mat-cell div strong {
    font-weight: bold;
}

@media (max-width: 600px) {
    .mat-table {
        font-size: 10px;
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mat-header-cell,
    .mat-cell {
        padding: 8px;
    }
}