/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.root-container {
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
    background: #f2f4f7;
}
.basicDetailTitle{
    padding-bottom: 10px;
    color: plum;
}
.basicDetails{
    display: flex;
    column-gap: 10px;
}
.basicData{
    width:100%;
}
.buttonValue{
    width:300px;
    margin: auto;
}


@media (max-width: 600px) {
    .mat-table {
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}